.stories {
    display: flex;
    justify-content: space-between;

    &-item:not(:last-child) {
        margin-right: 1.9375rem;
      }
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feeds {
  width: 100%;
  max-width: 61.1875rem;

  &__item {
    width: 100%;
    margin-top: 2rem;
  }
}

