.c-topline {
    background: #FAFAFA;
    border-bottom: 1px solid #C6C6C8;
    padding: 42px 24px 32px 20px;
    // margin-left: 20px;
    // margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    .x-container {
        width: 100%;
        max-width: 75rem;
        
        box-sizing: border-box;
    }

    // @media screen and (max-width: 768px) {
    //     .x-container {
    //         padding-left: 1.25rem;
    //         padding-right: 1.5rem;
    //     }
    // }
}

.headline {
    display: flex;
    justify-content: space-between;
}

.content {
    margin-top: 37px;
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}